body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c3444;
}

header {
    background-color: #1c3444;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #f1ca57, #f43c3c);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero button {
    background-color:#1c3444 ;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #55bb65;
}

section {
    padding: 60px 20px;
    text-align: center;
    color: #ffffff;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.feature {
    margin: 20px 0;
    color: #ffffff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #cc00ff;
}

#creative {
    background-color: #fff;
    padding: 40px 20px;
    height: 100vh;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.point {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

.notepad {
    width: 200px;
    height: 150px;
    background-color: white;
    position: absolute;
    z-index: 1;
    resize: both;
    overflow: auto;
}

.line-path {
    stroke-dasharray: 5;
    stroke: lime;
    stroke-width: 2;
    fill: none;
}
